body {
  font-family: Arial;
  background-color: rgb(252, 168, 120);
  background-image: url(../assets/backgrndScores.jpg);
}

.oculto {
  display: none !important;
}

h1{
  font-family: BILLO;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 1px;
}

.hoja{
  position: relative;
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
  line-height: 0;
  overflow: visible;
}

.hoja-cuaderno{
  width: 100%;
  box-sizing: border-box;
  max-width: 900px;
  height: auto;
  margin: 0;
  display: block;
  transform-origin: center center;
  filter: brightness(120%);
  opacity: 90%;
  z-index: 1;
}

#tabla-categorias {
  position: absolute;
  z-index: 10;
  top: 4%;
  left: 0;
  width: 100%;
  max-width: 900px;
  margin: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

#tabla-categorias th{
  text-align: center;
  border-right: 1px solid rgb(0, 0, 0.3);
  font-weight: lighter;
  font-size: 0.9rem;
  max-height: 10px;
  margin-left: 0;
  border-left: 0;
  padding: 5px 5px;
  word-wrap: break-word;
}

#tabla-categorias th:nth-child(2),
#tabla-categorias th:nth-child(3),
#tabla-categorias th:nth-child(4),
#tabla-categorias th:nth-child(7),
#tabla-categorias th:nth-child(10) {
  font: clamp(8px, 1vw, 9px);
  line-height: 1;
}

#tabla-categorias td {
  text-align: center;
  padding: 0.5vh 0.3vw;
  border: 1px solid black;
}

#cuerpo-tabla, #encabezado{
  position: static;
  z-index: 2;
  border-spacing: 10px 0;
  text-align: center;
  background: transparent;
  font-family: Litte Salty;
  font-weight: lighter;
  font-size: clamp(10px, 1.2vw, 18px);

}

#tabla-categorias input {
  width: 95%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  font-size: 1.2rem;
  outline: none;
  font-family: Litte Salty;
}

#contenedor-general {
  position: fixed;
  top: 40vh;
  left: 40vw;
  max-width: 500px;
  max-height: 500px;
  min-width: 400px;
  min-height: 200px;
  border-radius: 10px;
  background-color: rgb(232, 115, 61);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow-y: auto;
}

#presiona-tecla{
  font-family: Baby Doll;
}
